apiVersion: gateway.networking.k8s.io/v1
kind: GatewayClass
metadata:
    name: envoy-gateway
spec:
    controllerName: gateway.envoyproxy.io/gatewayclass-controller
---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
    name: edge
    namespace: envoy-gateway
spec:
    gatewayClassName: envoy-gateway
    listeners:
        - name: http
          port: 80
          protocol: HTTP
          allowedRoutes:
              namespaces:
                  from: All
---
apiVersion: v1
kind: Service
metadata:
    name: envoy-edge
    namespace: envoy-gateway
spec:
    type: LoadBalancer
    selector:
        gateway.envoyproxy.io/owning-gateway-name: edge
        gateway.envoyproxy.io/owning-gateway-namespace: envoy-gateway
    ports:
        - name: http
          port: 80
          targetPort: 10080
          protocol: TCP
