apiVersion: gateway.networking.k8s.io/v1
kind: GatewayClass
metadata:
    name: envoy-gateway
spec:
    controllerName: gateway.envoyproxy.io/gatewayclass-controller
---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
    name: edge
    namespace: envoy-gateway
    annotations:
        gateway.envoyproxy.io/envoy-service-name: envoy-edge
spec:
    gatewayClassName: envoy-gateway
    listeners:
        - name: http
          port: 80
          protocol: HTTP
          allowedRoutes:
              namespaces:
                  from: All
