apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: envoy-gateway
    namespace: envoy-gateway
spec:
    interval: 15m
    chart:
        spec:
            chart: gateway-helm
            sourceRef:
                kind: HelmRepository
                name: envoy-gateway
                namespace: envoy-gateway
            version: "v0.0.0-latest"
    install:
        crds: Skip
    upgrade:
        crds: Skip
    values:
        service:
            type: LoadBalancer
