apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: spegel
    namespace: spegel
spec:
    interval: 1h
    chart:
        spec:
            chart: spegel
            version: "0.6.0"
            interval: 2h
            sourceRef:
                kind: HelmRepository
                name: spegel-repo
    values:
        spegel:
            containerdRegistryConfigPath: /etc/cri/conf.d/hosts
