apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
    name: metallb
    namespace: flux-system
spec:
    interval: 30m
    path: ./manifests/infrastructure/metallb
    prune: true
    sourceRef:
        kind: GitRepository
        name: flux-system
    targetNamespace: metallb-system
