# Create list of nodes in cluster
- name: Build node list from {{ cluster_name }} group
  set_fact:
      node_list: >-
          {{
            groups['kubernetes'] | map('extract', hostvars) | list
          }}
  tags:
      - gen-node-list

- name: Initialize processed_nodes list
  set_fact:
      processed_nodes: []
  tags:
      - gen-node-list

# Add indexes of nodes and proper hostname
- name: Generate hostname metadata
  set_fact:
      processed_nodes: "{{ processed_nodes + [ {
          'hostname': 'homelab-cp-' ~ '%d' | format(index + 1),
          'ip': item.ansible_host,
          'inventory_hostname': item.inventory_hostname } ] }}"
  loop: "{{ node_list }}"
  loop_control:
      label: "{{ item.inventory_hostname }}"
      index_var: index
  tags:
      - gen-node-list

- name: Print nodes in cluster
  ansible.builtin.debug:
      msg: "{{ item }}"
  loop: "{{ processed_nodes }}"
  loop_control:
      label: "{{ item.hostname }}"
  tags:
      - gen-node-list
