apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: cloudflare-tunnel
    namespace: cloudflare
spec:
    interval: 1h
    chart:
        spec:
            chart: cloudflared
            version: 1.7.4
            sourceRef:
                kind: HelmRepository
                name: cloudflared-repo
                namespace: cloudflare
    values:
        replicaCount: 2
        managed:
            existingSecret: cloudflare-tunnel-secrets
