---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: cloudflare-tunnel
    namespace: cloudflare
spec:
    interval: 30m
    chart:
        spec:
            chart: cloudflared
            version: ">= 2.2.0"
            sourceRef:
                kind: HelmRepository
                name: cloudflare-tunnel
                namespace: cloudflare
            interval: 2h
    values:
        managed:
            enabled: false
        local:
            enabled: true
            auth:
                existingSecret: cloudflare-tunnel-secrets
            ingress:
                - hostname: "*.mikolajmaciejak.dev"
                  service: https://envoy-edge.envoy-gateway.svc.cluster.local:80
                - service: http_status:404
