---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: cloudflare-tunnel-remote
    namespace: cloudflare
spec:
    interval: 30m
    chart:
        spec:
            chart: cloudflare-tunnel-remote
            version: "0.1.2"
            sourceRef:
                kind: HelmRepository
                name: cloudflare-tunnel-remote
                namespace: cloudflare
            interval: 2h
    values:
        ingress:
            - hostname: "*.mikolajmaciejak.dev"
              service: https://envoy-edge.envoy-gateway.svc.cluster.local:80
            - service: http_status:404
