# apiVersion: helm.toolkit.fluxcd.io/v2
# kind: HelmRelease
# metadata:
#     name: cloudflare-tunnel
#     namespace: cloudflare
# spec:
#     interval: 30m

#     chart:
#         spec:
#             chart: cloudflared
#             version: 1.7.4
#             sourceRef:
#                 kind: HelmRepository
#                 name: cloudflare-tunnel
#                 namespace: cloudflare

#     valuesFrom:
#         - kind: Secret
#           name: cloudflare-tunnel-secrets
#           valuesKey: tunnelID
#           targetPath: local.auth.tunnelID

#         - kind: Secret
#           name: cloudflare-tunnel-secrets
#           valuesKey: accountTag
#           targetPath: local.auth.accountTag

#         - kind: Secret
#           name: cloudflare-tunnel-secrets
#           valuesKey: tunnelName
#           targetPath: local.auth.tunnelName

#         - kind: Secret
#           name: cloudflare-tunnel-secrets
#           valuesKey: tunnelSecret
#           targetPath: local.auth.tunnelSecret

#     values:
#         managed:
#             enabled: false
#         local:
#             enabled: true
#             ingress:
#                 - hostname: "*.mikolajmaciejak.dev"
#                   service: http://envoy-edge.envoy-gateway.svc.cluster.local:80
#                   originRequest:
#                       noTLSVerify: true
#                 - service: http_status:404

# ---
# apiVersion: helm.toolkit.fluxcd.io/v2
# kind: HelmRelease
# metadata:
#     name: cloudflare-tunnel
#     namespace: cloudflare
# spec:
#     interval: 30m
#     chart:
#         spec:
#             chart: cloudflare-tunnel
#             version: ">= 0.1.0"
#             sourceRef:
#                 kind: HelmRepository
#                 name: cloudflare
#                 namespace: cloudflare
#     valuesFrom:
#         - kind: Secret
#           name: cloudflare-tunnel-secrets
#           valuesKey: tunnelToken
#           targetPath: cloudflare.tunnelToken
#     values:
#         replicas: 1
#         image:
#             tag: 2025.7.0
---
apiVersion: apps/v1
kind: Deployment
metadata:
    name: cloudflare-tunnel
    namespace: cloudflare
spec:
    replicas: 1
    selector:
        matchLabels:
            app: cloudflare-tunnel
    template:
        metadata:
            labels:
                app: cloudflare-tunnel
        spec:
            containers:
                - name: cloudflared
                  image: cloudflare/cloudflared:2025.1.3
                  args:
                      - tunnel
                      - --no-autoupdate
                      - run
                      - --token
                      - $(TUNNEL_TOKEN)
                  env:
                      - name: TUNNEL_TOKEN
                        valueFrom:
                            secretKeyRef:
                                name: cloudflare-tunnel-secrets
                                key: tunnelToken
