- name: "Add gpg key"
  shell: curl -fsSL https://pkgs.k8s.io/core:/stable:/v{{ kubernetes_version }}/deb/Release.key | sudo gpg --dearmor -o /etc/apt/keyrings/kubernetes-apt-keyring.gpg

- name: "Add kubernetes repository"
  shell: echo 'deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v{{ kubernetes_version }}/deb/ /' | sudo tee /etc/apt/sources.list.d/kubernetes.list

- name: "Update the repository cache"
  apt:
      update_cache: yes

- name: "Install kubelet, kubeadm, kubectl"
  apt: name={{item}} state=installed
  with_items:
      - kubelet
      - kubeadm
      - kubectl
