---
- name: Get system architecture
  shell: dpkg --print-architecture
  register: system_architecture

- name: "Get Containerd"
  unarchive:
      src: "https://github.com/containerd/containerd/releases/download/v{{ containerd_version }}/cri-containerd-cni-{{ containerd_version }}-linux-{{ system_architecture.stdout }}.tar.gz"
      dest: "/"
      remote_src: yes

- name: "Create a directory for cni binary"
  file: path={{ cni_bin_dir }} state=directory

- name: "Create a directory for cni config files"
  file: path={{ cni_conf_dir }} state=directory
