---
- name: Download containerd
  get_url:
      url: "https://github.com/containerd/containerd/releases/download/v{{ containerd_version }}/containerd-{{ containerd_version }}-linux-{{ system_architecture.stdout }}.tar.gz"
      dest: "/tmp/containerd-{{ containerd_version }}.tar.gz"
      mode: "0644"

- name: Extract containerd
  unarchive:
      src: "/tmp/containerd-{{ containerd_version }}.tar.gz"
      dest: "/usr/local"
      remote_src: yes

- name: Install containerd service file
  get_url:
      url: https://raw.githubusercontent.com/containerd/containerd/main/containerd.service
      dest: /etc/systemd/system/containerd.service
      mode: "0644"

- name: Enable + start containerd
  systemd:
      name: containerd
      enabled: yes
      state: started
      daemon_reload: yes

- name: Ensure CNI directories exist
  file:
      path: "{{ item }}"
      state: directory
      mode: "0755"
  loop:
      - "{{ cni_bin_dir }}"
      - "{{ cni_conf_dir }}"

- name: Download CNI plugins
  get_url:
      url: "https://github.com/containernetworking/plugins/releases/download/v{{ cni_plugins_version }}/cni-plugins-linux-{{ system_architecture.stdout }}-v{{ cni_plugins_version }}.tgz"
      dest: "/tmp/cni-plugins.tgz"
      mode: "0644"

- name: Extract CNI plugins
  unarchive:
      src: "/tmp/cni-plugins.tgz"
      dest: "{{ cni_bin_dir }}"
      remote_src: yes

