---
- name: "Add gpg key"
  apt_key:
      url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
      state: present

- name: "Add kubernetes source list"
  apt_repository:
      repo: "deb http://apt.kubernetes.io/ kubernetes-{{ ansible_distribution_release }} main"
      state: present
      filename: "kubernetes"

- name: "Update the repository cache"
  apt:
      update_cache: yes

- name: "Install kubelet, kubeadm, kubectl"
  apt: name={{item}} state=installed
  with_items:
      - kubelet
      - kubeadm
      - kubectl
