- name: Disable swap
  tags:
      - machine-prep
  shell: swapoff -a; sed -i '/swap/d' /etc/fstab

- name: Disable Firewall
  ansible.builtin.systemd:
      name: ufw
      enabled: no
      state: stopped

- name: "Create a directory for containerd config"
  file: path=/etc/containerd state=directory

- name: "Start Containerd"
  systemd: name=containerd daemon_reload=yes state=started enabled=yes

- name: "Load br_netfilter kernel module"
  modprobe:
      name: br_netfilter
      state: present

- name: "Set bridge-nf-call-iptables"
  sysctl:
      name: net.bridge.bridge-nf-call-iptables
      value: 1

- name: "Set ip_forward"
  sysctl:
      name: net.ipv4.ip_forward
      value: 1

- name: "Check kubelet args in kubelet config"
  shell: grep "^Environment=\"KUBELET_EXTRA_ARGS=" /etc/systemd/system/kubelet.service.d/10-kubeadm.conf || true
  register: check_args

- name: "Add runtime args in kubelet conf"
  lineinfile:
      dest: "/etc/systemd/system/kubelet.service.d/10-kubeadm.conf"
      line: 'Environment="KUBELET_EXTRA_ARGS= --runtime-cgroups=/system.slice/containerd.service --container-runtime=remote --runtime-request-timeout=15m --container-runtime-endpoint=unix:///run/containerd/containerd.sock"'
      insertafter: '\[Service\]'
  when: check_args.stdout == ""

- name: "Start Kubelet"
  systemd: name=kubelet daemon_reload=yes state=started enabled=yes
