- name: Disable swap
  tags:
      - machine-prep
  shell: swapoff -a; sed -i '/swap/d' /etc/fstab

- name: Disable Firewall
  ansible.builtin.systemd:
      name: ufw
      enabled: no
      state: stopped

- name: "Create a directory for containerd config"
  file: path=/etc/containerd state=directory

- name: "Load br_netfilter kernel module"
  modprobe:
      name: br_netfilter
      state: present

- name: "Set bridge-nf-call-iptables"
  sysctl:
      name: net.bridge.bridge-nf-call-iptables
      value: 1

- name: "Set ip_forward"
  sysctl:
      name: net.ipv4.ip_forward
      value: 1

- name: "Start Kubelet"
  systemd: name=kubelet daemon_reload=yes state=started enabled=yes
