- name: Disable swap
  tags:
      - machine-prep
  shell: swapoff -a; sed -i '/swap/d' /etc/fstab

- name: Disable Firewall
  tags:
      - machine-prep
  shell: systemctl disable --now ufw

- name: Add Kernel settings
  tags:
      - machine-prep
  shell: |
      cat >>/etc/sysctl.d/kubernetes.conf<<EOF
      net.ipv4.ip_forward                 = 1
      EOF

      sysctl --system,

- name: Install packages
  tags:
      - machine-prep
  shell: |
      apt-get update
      apt-get install -y apt-transport-https ca-certificates curl gpg,

- name: Install containerd runtime
  tags:
      - machine-prep
  shell: |
      apt update
      apt install -y containerd
      mkdir /etc/containerd
      containerd config default > /etc/containerd/config.toml
      systemctl restart containerd
      systemctl enable containerd,

- name: Download kubernetes repo key
  tags:
      - machine-prep
  shell: |
      curl -fsSL https://pkgs.k8s.io/core:/stable:/v{{ kubernetes_version }}/deb/Release.key | sudo gpg --dearmor -o /etc/apt/keyrings/kubernetes-apt-keyring.gpg
      echo 'deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v{{ kubernetes_version }}/deb/ /' | sudo tee /etc/apt/sources.list.d/kubernetes.list

- name: Install kubelet, kubeadm and kubectl and pin version
  tags:
      - machine-prep
  shell: |
      apt-get update
      apt-get install -y kubelet kubeadm kubectl
      apt-mark hold kubelet kubeadm kubectl
